h1 {
    color: rebeccapurple;
    font-family: 'Lucida Sans Unicode';
    display: flex;
    justify-content: center;
}

body {
    font-size: medium;
    font-family: Helvetica;
}

#imgCake {
    width: 30%;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div+p {
    margin-top: 50px;
    font-style: italic;
    color: rosybrown;
    margin-bottom: 50px;
    margin-left: 50px;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}