                h1 {
                    color: rebeccapurple;
                    font-family: 'Lucida Sans Unicode';
                    display: flex;
                    justify-content: center;
                }
                
                body {
                    font-size: medium;
                    font-family: Helvetica;
                }
                
                #imgCake {
                    width: 30%;
                }
                
                .container1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                div+p {
                    margin-top: 50px;
                    font-style: italic;
                    font-size: large;
                    color: rosybrown;
                    margin-left: 50px;
                }
                
                .container2 {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;
                    justify-content: space-evenly;
                    border-style: double;
                    border-color: rgb(156, 117, 123);
                }
                
                .container2>img {
                    width: 20%;
                    height: 20%;
                }
                
                ul li::first-letter {
                    color: lightcoral;
                }
                
                ul li:hover {
                    font-style: italic;
                    color: purple;
                    font-weight: bolder;
                }
                
                .container3 {
                    display: flex;
                    justify-content: center;
                }
                
                #select {
                    height: 30px;
                }
                
                .container4 {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-image: url(../images/happy2.jpg);
                    border-style: ridge;
                    justify-content: center;
                    padding: 20px;
                }
                
                .container4>div {
                    padding: 15px;
                }
                
                .button {
                    margin-bottom: 15px;
                    background-color: mistyrose;
                    padding: 10px;
                }
                
                .button a {
                    text-decoration: none;
                    font-weight: 900;
                }
                
                label {
                    color: white;
                    font-family: Verdana;
                    font-style: oblique;
                }
                
                textarea {
                    height: 74px;
                    width: 194px;
                    margin: 10px;
                }
                
                #textareacontainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .formdiv input {
                    width: 100px;
                    height: 25px;
                }
                
                .formdiv {
                    margin-left: 100px;
                    margin-right: 100px;
                }
                
                #ddnDiv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                #ddnDiv input {
                    margin-top: 10px;
                    width: 150px;
                }
                
                option {
                    font-size: 15px;
                }
                
                #formcontainerdiv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }